[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
        ignore = dirty
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
        ignore = dirty
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
        ignore = dirty
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround
        ignore = dirty
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = https://github.com/tpope/vim-git.git
        ignore = dirty
[submodule "bundle/ir-black"]
	path = bundle/ir-black
	url = https://github.com/wgibbs/vim-irblack.git
        ignore = dirty
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
        ignore = dirty
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
        ignore = dirty
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
        ignore = dirty
[submodule "bundle/gist-vim"]
	path = bundle/gist-vim
	url = https://github.com/mattn/gist-vim.git
        ignore = dirty
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/wycats/nerdtree.git
        ignore = dirty
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = https://github.com/vim-scripts/vimwiki.git
        ignore = dirty
[submodule "bundle/TaskList"]
	path = bundle/TaskList
	url = https://github.com/vim-scripts/TaskList.vim.git
        ignore = dirty
[submodule "bundle/SudoEdit"]
	path = bundle/SudoEdit
	url = https://github.com/chrisbra/SudoEdit.vim.git
        ignore = dirty
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
        ignore = dirty
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
        ignore = dirty
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
        ignore = dirty
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
        ignore = dirty
[submodule "bundle/align"]
	path = bundle/align
	url = https://github.com/tsaleh/vim-align.git
        ignore = dirty
[submodule "bundle/vim-session"]
	path = bundle/vim-session
	url = https://github.com/xolox/vim-session.git
        ignore = dirty
[submodule "bundle/TwitVim"]
	path = bundle/TwitVim
	url = https://github.com/vim-scripts/TwitVim.git
	ignore = dirty
[submodule "bundle/dbext.vim"]
	path = bundle/dbext.vim
	url = https://github.com/vim-scripts/dbext.vim.git
	ignore = dirty
[submodule "bundle/Jinja"]
	path = bundle/Jinja
	url = https://github.com/vim-scripts/Jinja.git
	ignore = dirty
[submodule "bundle/YankRing.vim"]
	path = bundle/YankRing.vim
	url = https://github.com/vim-scripts/YankRing.vim.git
	ignore = dirty
[submodule "bundle/Syntastic"]
	path = bundle/Syntastic
	url = https://github.com/vim-scripts/Syntastic.git
	ignore = dirty
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
